/*Format for top header */

a,
a:hover {
    text-decoration: none;
}

.photo {
    min-height: 360px;
    background-image: url("/img/male.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
    
}

.info {
    background-image: url(/img/bg_line.png);
}

.name,
.position,
.top-nav {
    font-size: 25px;
    min-height: 120px;
    line-height: 120px;
    color: #c1c1c1;
}

.name {
    padding-left: 30px;
    background: rgba(0, 0, 0, 0.1);
}

.download {
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

.folder {
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.position {
    padding-left: 30px;
}

.top-nav {
    list-style: none;
    text-align: center;
    font-size: 1.2em;
    display: block;
}

.menu-item {
    display: inline-block;
}

.menu-item a {
    color: #fff;
}

.green {
    background-color: #1abc9c;
}

.blue {
    background-color: #3498db;
}

.cyan {
    background-color: #9b59b6;
}

.orange {
    background-color: #e67e22;
}

.red {
    background-color: #e74c3c;
}

.yellow {
    background-color: #d9a81d;
}


/***End of format top header***/


/**Format for top body**/

.personal {
    background-color: #9b59b6;
    min-height: 300px;
    color: #fff;
}

.badge-title {
    font-size: 1.5em;
}

.quote {
    margin: 14px 0;
    padding-left: 18px;
    border-left: 2px solid #e74c3c;
}

.quote h5 {
    color: #e74c3c;
    font-size: 1.3em;
}

h3 i {
    color: #e74c3c;
}

.experience-line {
    margin-bottom: 30px;
    margin-bottom: 1px solid #ccc;
}


/***************************/


/*Format for footer*/

footer {
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: url(/img/bg_line.png);
    color: #a7a7a7;
}

#follow-me a {
    font-size: 1.4em;
    margin-right: 5px;
}


/***************************/


/*Format for Porfolio page*/

.col-centered {
    float: none;
    margin: 0px auto;
}

.my-project {
    margin-bottom: 50px;
    margin-top: 30px;
}

.my-project img {
    width: 100%;
    margin: auto;
}

#myCarousel {
    padding: 0;
}

.feature-title {
    background-color: #f2f2f2;
    padding-bottom: 20px;
    padding-top: 20px;
}

.feature-projects {
    list-style: none;
    font-size: 1.5em;
    line-height: 50px;
    margin-top: 20px;
}

.feature-projects li i {
    color: #e74c3c;
}

.feature-projects li * {
    display: block;
}


/*******************************/


/*Format contact me page*/

.contact-me {
    margin-top: 20px;
    margin-bottom: 50px;
}

.contact-me form input,
.contact-me form textarea {
    padding: 20px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    margin: 0 0 10px;
    max-width: 100%;
    vertical-align: baseline;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    border: 1px solid #ebebeb;
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.contact-me form input:focus,
.contact-me form textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
}


/*******************************/
